* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

main {
  background-color: #d9d9d9;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1 fr;
  padding: 0 70px;
}

section {
  background-color: #fff;
  border-radius: 20px;
}

.section-metricas {
  background-color: transparent;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.section-metricas > div {
  padding: 12px 30px;
  border-radius: 20px;
}

.div-metrica1 {
  background: radial-gradient(#ffffff2a, #5383ec);
  border-radius: 20px;
}

.div-metrica2 {
  background: radial-gradient(#ffffff2a, #9c55ec);
  border-radius: 20px;
}

.div-metrica3 {
  background: radial-gradient(#ffffff2a, #111e5f);
  border-radius: 20px;
}

.div-metrica4 {
  background: radial-gradient(#ffffff2a, #f1911e);
  border-radius: 20px;
}

.section-metricas,
.section-vendas {
  grid-column: span 2;
}

.section-satisfacao,
.section-engajamento {
  padding: 25px;
}

.section-satisfacao {
  text-align: center;
}

.section-satisfacao h1 {
  text-align: left;
}

.section-vendas {
  padding: 35px 50px;
}
